# Deploy AsciiDoc documentation to GitHub Pages
name: Deploy documentation content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build the Asciidoc documentation
  build:
    runs-on: ubuntu-latest
    container: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build documentation
        run: asciidoctor --safe -vn docs/using-newdoc.adoc --out-file=index.html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload the generated HTML file
          path: 'index.html'
  # Publish the built documentation
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Dowload artifact
        uses: actions/download-artifact@v1
        with:
          path: "index.html"
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload the generated HTML file
          path: 'index.html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
